.container {
  width: 100%;
  border: 1px solid #f0f0f0;
  // padding: 1rem 1.5rem;
  background-color: white;
  height: auto;
  min-height: 78vh;
  .form-container {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    & > :nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .bodyHeader {
    margin-bottom: 10px;
    span {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .bodyContent {
    .detail {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .content {
        display: block;
        h4 {
          margin: 5px 0;
        }
      }
    }
  }

  :global {
    .ant-table-thead tr {
      background: #FAFAFA;
    }
    .ant-table-thead th {
      background-color: transparent;
    }
    .ant-card-head {
      height: 54px;
    }
    .ant-table-pagination.ant-pagination {
      margin: 16px 16px;
    }
  }
}
