@import './chat-message-web.css';
/* @import '../../../../../node_modules/antd/dist/antd.min.css'; */
@import "./image-gallery.css";
#chathub-widget-web {
    width: calc(100%) !important;
    height: calc(100%) !important;
    position: relative;
    display: contents;
    /* font-family: Helvetica Neue; */
}

#chathub-widget-web .version {
    position: fixed;
    bottom: 0px;
    display: block;
}

#chathub-widget-web .highlight {
    color: #000000;
}

#chathub-widget-web .highlight.agent {
    background-color: #3DFFFF;
    color: #000000;
}

#chathub-widget-web .highlight.user {
    background-color: #3DFFFF;
    color: #000000;
}

#chathub-widget-web .site-layout {
    padding: 0;
    background-color: #E5E5E5;
    width: 50% !important;
    max-width: 50% !important;
    min-width: 50% !important;
}

#chathub-widget-web .site-layout-background {
    padding: 0;
    background-color: #F2F4F6;
    width: 100%;
}

#chathub-widget-web .site-layout-background.chat-content {
    min-height: 300px;
    height: 80%;
}

#chathub-widget-web .site-layout-background.chat-header {
    background-color: #FFFFFF !important;
    height: 10%;
    line-height: 0px !important;
    box-shadow: inset 0px -1px 0px rgba(18, 122, 206, 0.5);
}

#chathub-widget-web .site-layout-background.chat-header .row-header {
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    padding: 12px 16px;
}

#chathub-widget-web .site-layout-background.chat-header .row-header .avatar-header {
    max-width: 50px;
    max-height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 10px;
}

#chathub-widget-web .site-layout-background.chat-header .row-header .header-name {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin: 0px 4px;
}

#chathub-widget-web .site-layout-background.chat-header .col-header-search {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

#chathub-widget-web .site-layout-background.chat-header .col-header-search .input-search-header {
    border-radius: 2px;
    background: #FFFFFF;
    margin-left: 16px;
}

#chathub-widget-web .site-layout-background.chat-header .col-header-search .input-search-header .icon-search-header {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

#chathub-widget-web .site-layout-background.chat-header .col-header-search .button-up-header {
    background: inherit;
    border: none;
    box-shadow: none;
    margin-right: 12px;
    margin-left: 20px;
    color: #000000;
    font-weight: 500;
}

#chathub-widget-web .site-layout-background.chat-header .col-header-search .button-down-header {
    background: inherit;
    border: none;
    box-shadow: none;
    margin-left: 12px;
    margin-right: 20px;
    color: #000000;
    font-weight: 500;
}

#chathub-widget-web .site-layout-background.chat-header .col-header-search .button-search-header {
    background: #FFFFFF;
    border-radius: 4px;
    margin-right: 6px;
    color: #000000;
    border: 1px solid #D9D9D9;
    font-weight: 500;
}

#chathub-widget-web .site-layout-background.chat-header .col-header {
    margin-left: auto;
    flex: none;
    display: flex;
    flex-direction: row;
}

#chathub-widget-web .site-layout-background.chat-header .col-header .button-header {
    background: initial;
    border-radius: 4px;
    border: none;
    margin-right: 6px;
    color: black;
    font-weight: 500;
}

#chathub-widget-web .site-layout-background.chat-header .col-header .button-resolve {
    background: #127ACE;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-right: 6px;
    color: #FFFFFF;
}

#chathub-widget-web .site-layout-background.chat-header .col-header .button-resolve-disabled {
    background: #71AFE2;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    margin-right: 6px;
    color: #FFFFFF;
}

#chathub-widget-web .site-layout-background.chat-header .col-header .button-header.button-search {
    width: 35px;
}

#chathub-widget-web .chat-container {
    margin-left: 0px;
    width: 100%;
    height: 100%;
}

#chathub-widget-web .ant-layout {
    min-height: 0;
}

.spin {
    text-align: center;
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chathub-widget-web .site-layout-navbar-background {
    padding: 0;
    background-color: #FAFAFB;
    line-height: 0;
}

#chathub-widget-web .time-conversation-child {
    font-size: 11px;
    color: #333333ab;
    display: grid;
    padding-right: 2px;
    text-align: center;
}

#chathub-widget-web #chathub-widget-loginPage {
    display: flex !important;
    padding: 20px !important;
}

#chathub-widget-web #chathub-widget-buttonMain {
    display: none !important;
}

#chathub-widget-web .widget-layout {
    background: #fff !important;
    z-index: 1;
    position: fixed;
    bottom: 20px;
}

#chathub-widget-web .widget-chat-header {
    height: 44px;
    max-height: 44px;
    background: #fff;
    border-bottom: 4px solid #00A2FD;
    padding: 0px;
    line-height: 0px;
}

#chathub-widget-web .nav-button-header {
    color: white;
    margin: 10px 10px 0px 0px;
    padding-left: 8px;
    line-height: 0px;
}

#chathub-widget-web .sgv-button-header:hover {
    border-bottom: 1px solid #00A2FD;
}

#chathub-widget-web .menu-header {
    border-bottom: none;
    height: 30px;
    max-height: 30px;
    line-height: 0px;
}

#chathub-widget-web .widget-layout.widget-layout--right {
    left: 20px;
    right: unset;
}

#chathub-widget-web .chat-button {
    cursor: pointer;
    position: relative;
}

#chathub-widget-web .chat-button.chat-button--right {
    float: left;
}

#chathub-widget-web .chat-button.chat-button--right button {
    padding: 5px;
}

#chathub-widget-web .widget-container {
    max-height: calc(100% + (48px)) !important;
    height: calc(100% + (48px));
    background: #fff !important;
    position: absolute;
    width: calc(100% + (48px));
    margin: -24px;
}

#chathub-widget-web .widget-header {
    border-radius: 15px 15px 0px 0px;
    color: #fff;
    -webkit-text-fill-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#chathub-widget-web .widget-header--collapsed {
    height: 72px;
    align-items: center;
    flex-direction: row;
    padding: 15px;
}

#chathub-widget-web .widget-header--button {
    padding: 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    margin: auto;
    background-color: white;
    font-weight: bold
}

#chathub-widget-web .widget-header--button-close {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    align-self: flex-start;
}

#chathub-widget-web .sider-navbar {
    width: 25% !important;
    max-width: 25% !important;
    min-width: 25% !important;
    background: #FFFFFF;
}

#chathub-widget-web .sider-navbar .header-navbar {
    height: 10%;
    justify-self: center;
    border-bottom: 1px solid #F0F0F0;
    border-right: 1px solid #F0F0F0;
}

#chathub-widget-web .sider-navbar .header-navbar .header-navbar-row {
    height: 100%;
    justify-self: center;
    justify-content: center;
}

#chathub-widget-web .sider-navbar .header-navbar .header-navbar-button {
    border: none;
}

#chathub-widget-web .sider-navbar .header-navbar .header-navbar-row .ant-col {
    align-self: center;
    justify-content: center;
    text-align: center;
}

#chathub-widget-web .sider-navbar .header-navbar .header-navbar-row .header-navbar-input-search {
    /* padding: auto; */
    padding-left: 16px;
    padding-right: 0px;
    width: 80%;
}

#chathub-widget-web .sider-navbar .header-navbar .header-navbar-row .ant-input-search-button {
    background: #127ACE !important;
    border: 1px solid #127ACE;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 0px 2px 2px 0px
}

#chathub-widget-web .sider-navbar .header-navbar .header-navbar-select {
    width: 90%;
}

#chathub-widget-web .my-select > div {
    border: none !important;
    box-shadow: none !important;
}
/* #chathub-widget-web .my-select > div > span:last-child {
    text-align: center;
} */

#chathub-widget-web .sider-navbar .switch-chat {
    margin-left: 27px;
}

#chathub-widget-web .sider-navbar .switch-chat-text {
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

#chathub-widget-web .sider-navbar .switch-chat.switch-chat-enable {
    background-color: #05ad70;
}

#chathub-widget-web .sider-navbar .switch-chat.switch-chat-disabled {
    background-color: #F0F0F0;
}

#chathub-widget-web .sider-navbar .input-search {
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    border-radius: 3px;
}

#chathub-widget-web .sider-navbar .category-room {
    align-self: center;
    text-align: center;
}

#chathub-widget-web .sider-navbar .category-room .badge-category-room {
    width: 80%;
}

#chathub-widget-web .sider-navbar .category-room .button-category-room {
    height: 100%;
    background: #FFFFFF;
    white-space: normal;
    padding: 0px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#chathub-widget-web .sider-navbar .category-room .button-category-room:hover {
    border: none;
}

#chathub-widget-web .sider-navbar .category-room .button-category-room .text-category-room {
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #2F7CBA;
    text-align: left;
}

#chathub-widget-web .sider-navbar .category-room .button-category-room .text-category-room.new-mess-category-room {
    width: 90%;
}

#chathub-widget-web .sider-navbar .category-room .button-category-room .text-category-room:hover {
    border-bottom: 4px solid #365DFE;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 5px;
}

#chathub-widget-web .sider-navbar .category-room .button-category-room .text-category-room.active-categoty-room {
    border-bottom: 4px solid #365DFE;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 5px;
}

#chathub-widget-web .sider-navbar .content-navbar {
    height: 40px;
    overflow: hidden;
    /* white-space: nowrap; */
    padding: 0 10px;
    overflow: auto hidden;
}

#chathub-widget-web .sider-navbar .content-navbar .tags-navbar {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    overflow-x : scroll;
    flex-wrap: nowrap;
    color: #000000;
    
}

#chathub-widget-web .sider-navbar .content-navbar .tags-navbar .tags-navbar-disable {
    cursor: no-drop;
    opacity: 50%;
}

#chathub-widget-web .sider-navbar .content-navbar .tags-navbar .ant-tag-checkable {
    background: #F0F0F0;
    border-radius: 6px;
    padding: 0px 8px;
}

#chathub-widget-web .sider-navbar .content-navbar .tags-navbar .ant-tag-checkable-checked {
    background: #399DEE;
    border: 1px solid #BDDEF9;
    box-sizing: border-box;
    border-radius: 6px;
    color: #FFFFFF;
}

#chathub-widget-web .sider-navbar .content-navbar .tags-navbar .icon-tags-navbar {
    padding: 4px 0px 1px 0px;
}

#chathub-widget-web .sider-navbar .content-navbar .tags-navbar .title-tags-navbar {
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
}

#chathub-widget-web .sider-navbar .tabs-navbar .ant-tabs {
    height: 100%;
}

#chathub-widget-web .sider-navbar .tabs-navbar .tab-pane-title {
    line-height: 5px;
}

#chathub-widget-web .sider-navbar .tabs-navbar #rc-tabs-0-tab-CHATALL {
    display: none;
}

#chathub-widget-web .sider-navbar .tabs-navbar .ant-tabs .ant-tabs-content {
    height: 100%;
}

#chathub-widget-web .sider-navbar .tabs-navbar .ant-tabs .ant-tabs-nav {
    margin: 0px;
}

#chathub-widget-web .sider-navbar .tabs-navbar .ant-tabs .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab .ant-tabs-tab-btn {
    background: #F0F0F0;
    border-radius: 6px;
    padding: 5px;
}

#chathub-widget-web .sider-room {
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 0px 0px 5px;
}

#chathub-widget-web .sider-room::-webkit-scrollbar {
    width: 1px;
    background-color: #F5F5F5;
}

#chathub-widget-web .sider-room::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #F2F2F2;
}

#chathub-widget-web .sider-room::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #5858FA;
    border: 1px solid#F2F2F2;
}

#chathub-widget-web .sider-room::-webkit-scrollbar-thumb:hover {
    background: #5858FA;
}

#chathub-widget-web .sider-room::-webkit-scrollbar-thumb:active {
    background: #5858FA
}

#chathub-widget-web .sider-room .title {
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 15px;
    color: #2F7CBA;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#chathub-widget-web .sider-room .room-item {
    border: none;
    cursor: pointer;
    padding: 12px 10px 17px 10px;
}

#chathub-widget-web .sider-room .room-item:hover {
    background: #D5DBDB
}

#chathub-widget-web .sider-room .room-item .icon-social-avatar {
    border-radius: 50%;
    border: 2px solid white;
}

#chathub-widget-web .sider-room .room-item .col-last-message {
    width: 90%;
    align-self: center;
}

#chathub-widget-web .sider-room .room-item .user-status {
    text-align: center;
    align-self: center;
    padding-left: 3px;
    line-height: 0px;
}

#chathub-widget-web .sider-room .room-item .avatar {
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
    border-radius: 50%
}

#chathub-widget-web .sider-room .room-item .avatar-status {
    min-width: 5px;
    min-height: 5px;
    border-radius: 50%;
    background: #5858FA;
}

#chathub-widget-web .sider-room .room-item .room-name {
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #52585D;
    margin-bottom: 0px;
    cursor: pointer;
}

#chathub-widget-web .sider-room .room-item .room-last-message {
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #8C8C8C;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

#chathub-widget-web .sider-room .room-item .page-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 2px 0px;
}

#chathub-widget-web .sider-room .room-item .page-wrapper .page-avt {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #BEBEBE;
}

#chathub-widget-web .sider-room .room-item .page-wrapper .text-page-name {
  /* font-family: Helvetica Neue; */
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #399DEE;
  margin-top: 2px;
}

#chathub-widget-web .sider-room .room-item .icon-last-message {
    line-height: 0px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

#chathub-widget-web .sider-room .room-item .room-last-message.padding-top {
    padding-top: 10px;
}

#chathub-widget-web .sider-room .room-item .room-button-accept {
    padding: 1px 8px;
    height: 18px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: white;
    background: #127ACE;
}

#chathub-widget-web .sider-room .room-item .room-button-accept:hover {
    color: #FFFFFF;
    background: #00A2FD;
}

#chathub-widget-web .sider-room .room-item .room-button-cancel {
    margin-left: 10px;
    padding: 0px 10px 0px 10px;
    height: 18px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 2px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
    background: #FFFFFF;
}

#chathub-widget-web .sider-room .room-item .room-button-cancel:hover {
    color: #FFFFFF;
    background: #F85858;
}

#chathub-widget-web .input-search-customer {
    display: flex;
    justify-self: start;
    margin: 5px;
}

#chathub-widget-web .active {
    background: #EBF5FD;
    box-shadow: inset -3px 0px 0px #127ACE;
}

#chathub-widget-web .type-room {
    height: 10%;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(26px);
    align-self: center;
    justify-self: center;
}

#chathub-widget-web .type-room .type-room-row {
    width: 100%;
    height: 100%;
}

#chathub-widget-web .type-room .type-room-button {
    align-self: center;
    text-align: center;
    cursor: pointer;
}

#chathub-widget-web .type-room .type-room-button:hover .type-room-title {
    color: #00A2FD;
}

#chathub-widget-web .type-room .type-room-badge {
    height: 80%;
}

#chathub-widget-web .type-room .type-room-badge .type-button {
    width: 100%;
    padding: 0px;
    height: 100%;
    border: none;
    background: initial;
    box-shadow: none;
}

#chathub-widget-web .type-room .type-room-button:hover {
    color: #00A2FD;
}

#chathub-widget-web .type-room .type-room-button:focus {
    color: #00A2FD;
}

#chathub-widget-web .type-room .type-room-badge .type-button:hover path {
    fill: #00A2FD;
    color: #00A2FD;
}

#chathub-widget-web .type-room .type-room-badge .type-button:focus path {
    fill: #00A2FD;
    color: #00A2FD;
}

#chathub-widget-web .type-room .active-button {
    color: #00A2FD;
}

#chathub-widget-web .type-room .active-button path {
    fill: #00A2FD;
}

#chathub-widget-web .type-room .notification-room {
    position: absolute;
    width: 19px;
    height: 11px;
    background: #F85858;
    border-radius: 7px;
    font-style: normal;
    font-weight: 600;
    font-size: 8px;
    align-self: center;
    color: #FFFFFF;
}

#chathub-widget-web .lock-room {
    border-radius: 10px;
    color: #00A2FD;
}

#chathub-widget-web .lock-room-active {
    border-radius: 10px;
    color: #F85858;
}

#chathub-widget-web .setting-button {
    border-radius: 10px;
    color: #231F20;
}

#chathub-widget-web .user-avatar {
    padding: 5px;
}

#chathub-widget-web .user-avatar-80 {
    padding: 15px;
}

/* modal  resolve */

.wrap-modal-rs-agent .ant-modal-content {
    border-radius: 3px;
    text-align: center;
}

.wrap-modal-rs-agent .ant-modal-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    text-align: center;
    border: none;
}

.wrap-modal-rs-agent .text-normal-10 {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #565C67;
}

.wrap-modal-rs-agent .row-btn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wrap-modal-rs-agent .row-btn .btn-flow {
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
    background: #2F7CBA;
    border-radius: 2px;
    width: 100%;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
}

.wrap-modal-rs-agent .row-resolve .ant-col {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wrap-modal-rs-agent .row-resolve .ant-col .btn-cancel {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 2px;
    margin-right: 4px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}

.wrap-modal-rs-agent .row-resolve .ant-col .btn-flow {
    cursor: pointer;
    background: #127ACE;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 4px;
}

.wrap-modal-rs-agent .input-flow {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 300px;
}

/* modal forward */

.wrap-modal-fw-agent .ant-modal-content {
    border-radius: 3px;
    text-align: left;
}

.wrap-modal-fw-agent .ant-modal-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    text-align: center;
    border: none;
}

.wrap-modal-fw-agent .text-normal-10 {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #565C67;
}

.wrap-modal-fw-agent .row-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 25px;
}

.wrap-modal-fw-agent .row-btn .btn-flow {
    cursor: pointer;
    margin-left: 8px;
    padding: 5px 8px;
     background: #127ACE;
    border-radius: 2px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
}

.wrap-modal-fw-agent .row-btn .btn-cancel {
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 2px;
    width: 100%;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
}

.wrap-modal-fw-agent .row-resolve .ant-col {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wrap-modal-fw-agent .row-resolve .ant-col .ant-btn {
    background: #2F7CBA;
    border-radius: 2px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    width: 75px;
}

.wrap-modal-fw-agent .input-flow {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 300px;
}

/* modal rollback forward */

.wrap-modal-rfw-agent .ant-modal-content {
    border-radius: 3px;
}

.wrap-modal-rfw-agent .ant-modal-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    text-align: center;
    border: none;
}

.wrap-modal-rfw-agent .text-normal-10 {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #565C67;
}

.wrap-modal-rfw-agent .row-btn {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.wrap-modal-rfw-agent .row-btn .btn-flow {
    cursor: pointer;
    margin-left: 5px;
    padding: 5px;
    background: #2F7CBA;
    border-radius: 2px;
    width: 100%;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
}

.wrap-modal-rfw-agent .row-rollback .ant-col {
    display: flex;
    justify-content: flex-end;
    margin-top: 17px;
}

.wrap-modal-rfw-agent .row-rollback .ant-col .btn-cancel {
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
    border-radius: 2px;
    margin-right: 4px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 22px; */
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}

.wrap-modal-rfw-agent .row-rollback .ant-col .btn-flow {
    cursor: pointer;
    background: #127ACE;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    /* font-family: Helvetica Neue; */
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
    margin-left: 4px;
}

.wrap-modal-rfw-agent .input-flow {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 300px;
}

.wrap-modal-end-chat .ant-modal-content {
    border-radius: 16px;
}

.wrap-modal-end-chat .ant-modal-header {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    text-align: center;
    border: none;
}

.wrap-modal-end-chat .text-normal-10 {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #565C67;
    margin-top: 8px;
}

.wrap-modal-end-chat .text-normal-12 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #343943
}

.wrap-modal-end-chat .text-area-4 {
    background: #FAFAFB;
    border: 1px solid #CECFD2;
    box-sizing: border-box;
    border-radius: 4px;
}

.wrap-modal-end-chat .text-bold-12 {
    margin-top: 25px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.wrap-modal-end-chat .select-text-normal-13 {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #090E1B;
}

.wrap-modal-end-chat .select-text-normal-13 .ant-select-selector {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: #CECFD2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.wrap-modal-end-chat .row-button-2 {
    margin-top: 32px;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.wrap-modal-end-chat .button-1 {
    background-color: #FFFFFF;
    border: 1px solid #F85858;
    box-sizing: border-box;
    border-radius: 8px;
    color: #F85858;
    height: 40px;
    width: 48%;
    font-weight: bold;
    font-size: 12px;
}

.wrap-modal-end-chat .button-2 {
    background: #F85858;
    border-radius: 8px;
    margin: 12px 0px;
    color: #FFFFFF;
    height: 40px;
    width: 48%;
    margin-left: 4%;
    font-weight: bold;
    font-size: 12px;
}

.review-images {
    overflow: hidden;
}

.review-images .ant-modal-content {
    background: none;
    box-shadow: none
}

.modal-review-image {
    overflow: hidden;
    height: 100%;
}

.modal-review-image .ant-modal {
    width: 90% !important;
    height: 100%;
    top: 0;
}

.modal-review-image .ant-modal-content {
    background: none;
    box-shadow: none;
    height: 100%;
}

.modal-review-image .ant-modal-content .ant-modal-body {
    height: 100%;
}

.icon-play-video {
    position: relative;
    color: white;
    left: -56%;
}

.icon-play-video-chat {
    position: absolute;
    color: white;
    left: 45%;
    font-size: 25px;
    bottom: 30px;
}

.icon-play-video-chat-agent {
    position: absolute;
    color: white;
    left: 50%;
    font-size: 25px;
    bottom: 30px;
}

/* Tooltip room item note */

.noteTooltip .ant-tooltip-inner {
    border-radius: 15px;
}
